.canvas {
    -fx-background-image: url(./niko.png);
}

#hbox {
    -fx-padding: 0px;
}

#taskRoot {
    -fx-background-color: transparent;
}

.important {

}

.recurring {
    /* -fx-background-image: url(./niko.png); */
}

.regular {

}

.strikethrough .text {
    /* -fx-font-style: italic; */
    -fx-strikethrough: true;
}

.notstrikethrough {
    -fx-strikethrough: false;
}